// Icono cargar sitio web

.divCarga{
    width: 100%;
    height: 100vh;
    position: fixed;
    top:0px;
    background-color: rgba(0, 0, 0, 0.562);
    display: flex;
    justify-content: center;
    align-items: center;
    
.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
    z-index: 1000;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 100px;
    height: 100px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid white;
    border-color:white transparent white transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
}