$font1:'Mukta', sans-serif;
$font2:'Courgette', cursive;

//colores
$negro:#020e1be3;
$negroso:#020e1b;
$rojo:rgb(234, 32, 39);

//---Medias querys----

$breackPoint-desktop: 1321px;
$breackPoint-media: 1226px;
$breackPoint-9: 995px;
$breackPoint-7:757px;

//botones

.boton1 {
    padding: 4px 40px;
    background-color: $rojo;
    color: white;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
    margin: 2px 5px;
    border: 2px solid $rojo;
    &:hover{
        transition: all .2s;
        text-decoration: none;
        color: white;
        background-color: rgb(196, 0, 7);
        border: 2px solid rgb(196, 0, 7);
    }
    &:focus{
        background-color: $negro;
        border: 2px solid $negro;
    }
    @media (max-width:$breackPoint-7){
        font-size: 20px;
        padding: 4px 30px;
    }
}

.boton2 {
    padding: 4px 30px;
    border: 2px solid $negroso;
    color: white;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
    margin: 2px 5px;
    background-color: $negroso;

    &:hover{
        text-decoration: none;
        color: white;
        background-color: #020e1be3;
        border: 2px solid #020e1be3;
    }
    @media (max-width:$breackPoint-7){
        font-size: 20px;
        padding: 4px 20px;
    }

}

.boton3 {
    padding: 4px 30px;
    border: 2px solid $negroso;
    color: $negro;
    text-decoration: none;
    font-size: 16px !important;
    border-radius: 5px;
    margin: 2px 5px;
    font-weight: bold;
    &:hover{
        transition: all .2s;
        text-decoration: none;
        color: white;
        background: $negroso;
        font-weight: no;
    }
    &:focus {
        background-color: $negroso;
        color: white;
    }
    @media (max-width:$breackPoint-7){
        font-size: 20px;
        padding: 4px 20px;
    }

}


