@media screen and (max-width:1000px){
    .div-menu{
        position: absolute;
        left: 100vw;
        margin-top: 60px;
        width:38%;
        height: 100vh;
        z-index: 3;
        display: none;
        text-align: center;
        background: rgba(253, 252, 252, 0.945);

    }

    .mostrar {
        transition: all .8s linear;
        left: 65%;
        display: block;
     }

    .div-menu li br{
        /* background: red; */
        display: block;
    }

    .div-menu li {
        padding-top: 50px;
    }

    .div-menu a {
        font-size: 28px;
    }


    .div-icono-menu {
        position: absolute;
        width: 5%;
        margin-left: 95%;
        margin-top: 10px;
        padding: 0px;
        display: block;
        text-align: center;
        background: rgba(0, 0, 0, 0.123);
        border-radius: 100px;

    }

    .div-icono-menu i {
        padding-top: 5px;
        font-size: 36px;
        color: rgb(255, 0, 0);
    }

    .promo-1{
        width: 40%;
        margin: 10px 5%;
    }


    .div-ub-inter-map iframe{
        width: 90%;
    }


}