@import './variables';
@import './cargarSitio';
@import './menu';


html {
    scroll-behavior: smooth;
    overflow-x: hidden !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 !important;
    padding: 0 !important;
    font-family: $font1;
    overflow-x: hidden !important;
}

.main {
    width: 100% !important;
    overflow-x: hidden;
}


header{
    width: 100%;
    height: 125vh;
    background: url(../imagenes/fondo2.jpg);
    background-size: cover;
    
    .color {
        width: 100%;
        height: inherit;
        background: rgb(0, 0, 0);
        background: linear-gradient(20deg, rgba(0, 0, 0, 0.555) 55%, rgba(0, 0, 0, 0.507) 100%);
    }
}

.seccionBienvenida{
    width: 100%;
    .divSecBienvenida {
        width: 100%;
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 40px 0px;
        padding: 40px 0px;
        flex-wrap: wrap;
        @media (max-width:$breackPoint-media){
            padding:30px 0px;
            margin: 30px 0px;
        }
        @media (max-width:$breackPoint-9){
            justify-content: center;
            align-items: center;
            padding: 50px 0px;
        }
        
        div {
            width: 100%;
            padding: 10px 0px;
            text-align: center;
            @media (max-width:$breackPoint-media){
                h1 {
                    font-size: 60px !important;
                }
            }
            @media (max-width:$breackPoint-9){
                width: 80%;
                h1{
                   font-size: 60px !important;
                }
                h2{
                    font-size: 25px !important ;
                }
            }
            @media (max-width:$breackPoint-7){
                width: 100% !important;
               h1 {
                   font-size: 55px !important;
               }
            }
            h1 {
                font-size: 80px;
                color: white;
                font-weight: bold;
                font-family: $font1;
            }
            h2 {
                font-size: 30px;
                color: white;
            }
        }
    }
}

.seccion1 {
    position: relative;
    width: 100%;
    .divSec1{
        position: relative;
        top: -40px;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        transition: all .5s;
        @media(max-width:$breackPoint-media) {
            top: -20px;
        }
        @media (max-width:$breackPoint-7){
            top: -30px;
        }
        div {
            width:300px;
            padding: 40px 30px;
            text-align: center;
            background-color: white;
            border-radius: 20px;
            margin: 10px auto;
            box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.075);
            @media (max-width:$breackPoint-7){
                width: 100%;
            }
            ion-icon {
                font-size: 50px;
                color: $rojo;
            }
            h1{
                color: $negro;
                font-size: 20px;
                font-weight: bold;
            }
            p{
                color: $negro;
                font-size: 16px;
            }
        }
    }
}

.seccion2 {
    width: 100%;
    height: auto;
    background: url(../imagenes/baking-cheese-cooking-crust-315755.jpg);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: 100px 20px;
    @media (max-width:$breackPoint-7){
        background-size: 100%;
        background-position: center;
        .divSec2{
            .tarjetaFlotante{
                width: 100% !important;

            }
        }
    }
    .divSec2 {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        @media (max-width: $breackPoint-9 ) {
            margin: 50px 0px;
            text-align: center;
        }
        .tarjetaFlotante{
            width: 60%;
            background: white;
            padding: 40px 40px;
            border-radius: 10px;
            box-shadow: 0px 12px 20px 10px rgba(0, 0, 0, 0.185);
            border-left: 5px solid $rojo;
            @media (max-width: $breackPoint-9 ) {
                padding: 30px;
            
            }
            div{ 
                padding: 10px 0px;
                h1 {
                    font-size: 40px;
                    color: $negroso;
                    font-weight: bold;
                }
                p {
                    font-size: 18px;
                    color: $negro;
                }
                #robert{
                    font-size: 25px;
                    color: $negro;

                    &::before {
                        content: '⇴';
                    }
                }
                #pVer{
                    &::after{
                        color: rgba(0, 0, 0, 0.247);
                        content: 'aliquid temporibus suscipit laboriosam iusto saepe, et atque sapiente ut officiis!';
                    }
                }
            }

            &:hover {
                #pVer{
                    &::after{
                        transition: all .2s;
                        color: $negro;
                        content: 'aliquid temporibus suscipit laboriosam iusto saepe, et atque sapiente ut officiis!';
                    }
                }
            }
        }
    }
}

.seccionPizzas {
    position: relative;
    width: 100%;
    .divP{
        margin-top: 30px;
        padding: 20px 0px;
        width: 100%;
        text-align: center;
        h1 {
            font-weight: bold;
        }
    }
    .divPizzas {
        width: 100%;
        display: flex;
        padding: 20px 0px;
        margin: 0px 0px;
        flex-wrap: wrap;
        .tarjetaPizza{
            position: relative;
            width: 300px;
            padding: 20px 20px;
            border-radius: 10px;
            margin: 10px auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            .precioFlot{
                position: absolute;
                top: 0;
                left: 0;
                width: auto;
                background-color: $negro;
                border-radius: 10px;
                p{
                    margin: 0;
                    padding: 10px;
                    color: white;
                }
            }
            .oferta{
                background-color: $rojo !important;
            }
            .divImg{
                width: 100%;
                height: 30vh;
                object-fit: cover;
                overflow: hidden;
                display: flex;
                img {
                    width: 100%;
                    border-radius: 10px;
                    padding: 5px 0px;
                    object-fit: cover;
                }
            }
            div{
                width: 100%;
                object-fit: cover;

                h1 {
                    font-size: 20px;
                    font-weight: bold;
                    padding: 5px 0px;
                }
                p{
                    padding: 5px 0px;
                }
            } 
            &:hover{
                cursor: pointer;
                transition: 250ms opacity;
                transition: all .4s;
                transform: scale(1.1);
                z-index: 100;
                box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.178);
                background-color: white;
            }
        }
        @media (max-width:$breackPoint-7){
            .tarjetaPizza {
                width: 100% ;
                .divImg{
                    width: 80% ;
                    height: 40vh;
                    img {
                        width: 9100;
                    }
                }
            }
        }
    }
}


.seccionComent{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(133, 133, 133, 0.226);
    @media (max-width:$breackPoint-9){
        justify-content: center;
        align-items: center;
        div {
            width: 500px !important;
        }
    }
    div {
        width: 500px;
        padding: 20px 10px;
        @media (max-width:$breackPoint-7) {
            width: 100% !important;
        }
    }
    .divImg{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
            width: 80%;
        }
    }
    .divText{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        div {
            padding: 10px 0px;
            width: 80%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            ion-icon {
                font-size: 80px;
                color: $negroso;
            }
            p {
                color: $negroso;
                font-size: 20px;
                font-weight: bold;
            }
        }
    }
}
.seccionChef{
    width: 100%;
    background-color: rgba(133, 133, 133, 0.226);
    .divChef {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        div {
            width: 500px;
            padding: 20px 0px;
            p {
                color: $negroso;
                font-size: 20px;
                font-weight: bold;
            }
            
        }
        .divImg{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img {
                width: 50%;
            }
        }
        .divText{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            div{
                width: 500px;
                padding: 20px 0px;
                @media (max-width:$breackPoint-7) {
                    width: 100% !important;
                }
                ion-icon{
                    font-size: 80px;
                }
                h1 {
                }
                p {
                    font-size: 20px;
                }
            }
        }
    }
}


.seccionOrdenar{
    // margin: 10px 0px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    .padreQui{
        width: 40% !important;
        background-color: white;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.349);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        .divQuitar{
            position: relative;
            top: -50px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;
            p{
                margin: 0px 10px;
                font-size: 20px;
                padding: 10px 20px;
                text-decoration: none;
                background-color: $rojo;
                border-radius: 40px;
                color: white;
                cursor: pointer;
            }
        }
        .divOrdenar{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px 0px;
            h1 {
                font-size: 30px;
                color: red;
            }

            div {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                padding: 5px 40px;
                label {
                    padding: 0px 10px;
                    font-weight: bold;
                    color: $negro;
                }
                #name {
                    width: 100%;
                }
                #email {
                    width: 100%;
                }
            }
        }
    }
    #error{
        color: red;
    }
}

.seccion__reservacion{
    width: 100%;
    background: url(../imagenes/3123.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .intro {
        width: 100%;
        padding: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        div{
            width: 50%;
            padding: 10px 20px;
        }
        h1 {
            margin: 0;
            font-weight: bold;
            font-size: 300%;
            color: $negroso;
        }
        @media screen and (max-width:1020px){
            h1 {
                font-size: 200%;
            }
        }
    }
    .color{
        backdrop-filter: blur(5px);
        background: rgba(0, 0, 0, 0.26);
        padding: 4em 0;
    }
    .div__reservacion{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .dForm{
            width: 80%;
            padding: 2em 1em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: rgb(255, 255, 255);
            border-radius: 8px;
            flex-wrap: wrap !important;
            div {
                width: 90%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                padding: 5px 0;
                flex-wrap: wrap;
                label {
                    width: 50%;
                }
                input{
                    width: 300px;
                    border: 1px solid transparent;
                    background-color: rgba(0, 0, 0, 0.075);
                    padding: 10px;
                }
                select {
                    width: 90%;
                    border: 1px solid transparent;
                    background-color: rgba(0, 0, 0, 0.075);
                }
            }
        }

        @media screen and (max-width:1020px){
            .dForm {
                width: 100%;
                flex-direction: column !important;
                div {
                    width: 100%;
                    flex-direction: column !important;
                    label {
                        width: 100%;
                    }
                    select {
                        width: 100%;
                    }
                    input {
                        width: 100%;
                    }
                }
            }
        }
    }
    .dbo{
        width: 100%;
        padding: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        div{
            width: auto;
            padding: 10px 20px;
            text-align: center;
            border-radius: 8px;
        }
        button {
            padding: 8px 100px;
        }
    }

    @media screen and (max-width:800px) {
        // display: none;
    }
}

footer{
    width: 100%;
    overflow: hidden;
    padding: 1em 0;
    .divFooter {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        div {
            width: auto;
            height: auto;
            justify-content: center;
            align-items: center;
            p {
                color: $negro;
                font-weight: bold;
                margin: 0;
            }
            a {
                padding: 0px 10px;
                text-decoration: none;
            }
            ion-icon {
                font-size: 25px;
                color: $negro;
                &:hover {
                    transition: all .2s;
                    color: $rojo;
                }
            }
        }
    }
}