*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    /* background: url(../imagenes/stuffedcrustpizza.jpg);
    background-size: cover; */

    background: url(../imagenes/fondo.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;

}

html{
    scroll-behavior: auto;
    scroll-behavior: smooth;

}

.header {
    width: 100%;
    height: auto;
}


.container {
    margin-left: 2%;
    margin-right: 2%;
}

.div-header {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    /* outline: 1px dashed red; */
    background: #1e272e;
}


.sub-header {
    position: relative;
    z-index: 5;
    margin-left: -25px;
    width: 100%;
}


.div-logo {
    position: relative;
    float: left;
     /* background: red;  */
    width: 50%;
    /* outline: 1px solid red; */
    text-align: center;
}

.div-logo img {
    padding-top: 10px;
    max-width: 40%;
}

.div-icono-menu {
    display: none;
}

.icono-menu{
    display: none;
}

.div-menu {
    position: relative;
    float: left;
    width: 50%;
    /* background: blue;   */
    height: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.div-menu ul {
    list-style: none;
    border-radius: 2px;
}

.div-menu li br{
    /* background: red; */
    display: none;
}


.div-menu a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bold;
    padding: 0px 10px;
    border-radius: 1px;
}

.div-menu a:hover {
    color:rgb(0, 86, 121) ;
    transition: all .1s linear;
}


/*---*/

.seccion-yes{
    width: 100%;
    height: 80vh;

}

.div-yes{
    width: 100%;
    height: 80vh;
    background: rgba(0, 0, 0, 0.616);
}

.sub-yes{
    width: 100%;
    height:60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.yes {
    width: 80%;
}

.yes h1 {
    padding: 30px;
    font-size: 80px;
    color: #ffffff;
    font-weight: 900;
}

.yes p {
    font-size: 25px;
    padding: 10px;
    color:white;
}


/*--------*/

.div-bienvenida {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    background: rgb(255, 255, 255); 
    margin-top: 100px;
    /* outline: 1px dashed rgb(255, 255, 255);  */
}

.sub-bienvenida {
    position: relative;
    float: left;
    width: 100%;
    /* outline:  1px dashed red; */
    margin-top: 50px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}

.div-desc {
    width: 50%;
    /* outline:  1px dashed rgb(0, 0, 0); */
    text-align: center;
    transition: all .25s;
    justify-content: center;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
}

.div-desc:hover {
    transform: translateY(-10px);
    box-shadow: -1px -10px 10px rgba(24, 23, 23, 0.082);
}

.div-desc h2 {
    color: rgba(199, 18, 18, 1);
    font-size: 32px;
    font-weight: 900px;
    padding-top: 10px;
}

.div-desc p {
    font-size: 20px;
    color: rgba(7, 7, 7, 0.842);
    padding: 20px 30px;
    font-weight: bold;
}


.div-img-desc {
    width: 40%;
    justify-items: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
     /* outline:  1px dashed rgb(0, 0, 0);  */
}

.div-img-desc img {
    padding-top: 10px;
    max-width: 60%;
    border-radius: 8px;
    transition: all .25s;
}

.div-img-desc img:hover {
    box-shadow: 10px 10px 10px rgba(24, 23, 23, 0.356);
    transform: translateY(-25px);
}

.control-p {
    width: 100%;
    height: auto;
    text-align: center;
    /* background: rgba(0, 0, 0, 0.726); */
    border-radius: 0px;
}

.control-p p {
    color: rgba(7, 7, 7, 0.877);
    font-weight: bold;
    font-size: 20px;
    padding: 20px 40px;
}

.control-p strong {
    color: rgba(199, 18, 18, 1);
}

.control-btn-pedir {
    /* background: red; */
    position: relative;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 30px;
}
#lo-quiero{
    padding: 2.5% 5%;
    background:rgba(199, 18, 18, 1);
    color: rgb(250, 250, 250);
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 30px;
}

#lo-quiero:hover{
    background: rgba(199, 18, 18, 1);
}

#ver-ofer{
    padding: 2.5% 3%;
    color: rgb(252, 252, 252);
    background: rgba(0, 0, 0, 0.918);
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 30px;
}
#ver-ofer:hover{
    background: rgba(0, 0, 0, 0.74);
}
/*--------*/
.div-seccion-1 {
    position: relative;
    float: left;
    width: 100%;
    padding-top: 50px;
    background: #1e272e;

}

.div-seccion-1 h2 {
    text-align: center;
    font-size: 40px;
    color: rgba(255, 255, 255, 0.767);
}

#ico-ubi {
    position: absolute;
    padding-top: 5px;
    color: rgb(26, 25, 25);
}

.div-seccion-1 strong {
    color: rgb(255, 255, 255);
}

.sub-seccion-1 {
    position: relative;
    float: left;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* outline:  1px dashed rgb(0, 0, 0);   */
    margin-top: 0px;
    border-radius: 20px;
    padding-top: 30px;
    padding-bottom: 50px;
}


.promo-1 {
    width: 25.3%;
    height: auto;
    margin: 30px 4%;
    color: rgb(0, 0, 0);
    transition: all .5s;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.199);
    background: #1e272e;
    border-radius: 8px;
    flex-wrap: wrap;
    display: flex;
}

.promo-1:hover{
    transform: translateY(-20px);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.219);
}


.promo-desc {
    width: 100%;
    padding: 20px;
}

.promo-desc h3 {
    font-weight: bold;
    padding: 0px;
    color: rgb(255, 255, 255);
    font-size: 22px;
}

.promo-desc p {
    font-weight: 100;
    padding: 0px;
    color: white;
    font-size: 17px;
}

.div-btn-pedir-ya{
    width: 100%;
    /* background: black; */
    padding: 20px;
}

.promo-desc a {
    color: rgb(255, 255, 255);
    background: rgb(0, 86, 121);
    padding: 4% 10%;
    border-radius: 30px;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
    transition: all .3s ;
}

.promo-desc a:hover{
    background: rgba(8, 6, 6, 0.719);
}

.div-prom-img {
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 0px;
    text-align: center;
}


#imagen-3 {
    width: 100%;
    height: 200px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.div-prom-img img{
    max-width: 100%;
}
/*--------*/
/*--------*/
.div-contactos {
    padding-top: 10px;
    width: 100%;
    position: relative;
    float: left;
    /* background: rgba(0, 0, 0, 0.137); */
    background: #1e272e;
    text-align: center;
    box-shadow: 0px -2px 15px rgba(0, 0, 0, 0.171);
}

.div-contactos h2 { 
    font-size: 50px;
    padding: 20px;
    color: white;
}

.div-sub-contactos{
    width: 100%;
    height: auto;
    border-radius: 20px;
   /* box-shadow: 2px 10px 10px rgba(2, 2, 2, 0.158); */
}

.div-contact{
    padding: 10px;
}

.div-contact p{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.795);
}

.div-contact i {
    position: relative;
    color:rgb(0, 86, 121);
}

.div-contact a{
    color: rgb(0, 86, 121);
}

.div-redes h2 {
    color: rgba(37, 37, 37, 0.89);
    font-size: 30px;
}


.div-redes { 
    padding-top: 1px;
    padding-bottom: 40px;
}


.div-seccion-2 {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    background: white;
    padding-top: 30px;
    /* outline:  1px dashed rgb(0, 0, 0);    */
    box-shadow: 0px -2px 15px rgba(0, 0, 0, 0.26);
}


.sub-seccion-2 {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.685);
    box-shadow: 2px 10px 10px rgba(2, 2, 2, 0.158);
    /* outline:  1px dashed rgb(0, 0, 0);    */
    padding-bottom: 50px;
}

.div-seccion-2 h2 {
    text-align: center;
    font-size: 40px;
    color: rgba(199, 18, 18, 1);
    padding-bottom: 40px;
}


.div-sec-sd {
    width: 50%;
    height: auto;
    /* outline:  1px dashed rgb(255, 0, 0);    */
}


.div-sec-inter {
    position: relative;

    width: 50%;
    height: auto;
    /* outline:  1px dashed rgb(0, 252, 34);  */
}

.div-ub-sd {
    position: relative;
    margin-top: 50px;
    width: 100%;
    text-align: center;
    box-shadow: -1px -10px 10px rgba(8, 8, 8, 0.13);
}

.div-ub-inter {
    position: relative;
    margin-top: 50px;
    width: 100%;
    text-align: center;
    box-shadow: -1px -10px 10px rgba(90, 0, 0, 0.13);
}
.div-ub-inter-map{
    position: relative;
    margin-top: 50px;
    width: 100%;
    text-align: center;
}

.div-ub-inter-map iframe {
    padding: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.308);
    border-radius: 20px;
}


.div-sec-sd h2 {
    padding-top: 10px;
    text-align: center;
    font-size: 32px;
    color: rgba(199, 18, 18, 1);
}

.div-sec-inter h2 {
    padding-top: 10px;
    text-align: center;
    font-size: 32px;
    color: rgba(199, 18, 18, 1);
}


.div-footer{
    margin-top: 0px;
    position: relative;
    float: left;
    width: 100%;
    background: #1e272e;
}

.div-sub-footer{
    padding: 50px;
    text-align: center;
}

.div-sub-footer p {
    font-size: 20px;
    color: rgb(253, 253, 253);
    font-weight: bold;
}


@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
  }

  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }


  /* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }