@charset "UTF-8";
.boton1 {
  padding: 4px 40px;
  background-color: #ea2027;
  color: white;
  text-decoration: none;
  font-size: 20px;
  border-radius: 5px;
  margin: 2px 5px;
  border: 2px solid #ea2027;
}

.boton1:hover {
  -webkit-transition: all .2s;
  transition: all .2s;
  text-decoration: none;
  color: white;
  background-color: #c40007;
  border: 2px solid #c40007;
}

.boton1:focus {
  background-color: #020e1be3;
  border: 2px solid #020e1be3;
}

@media (max-width: 757px) {
  .boton1 {
    font-size: 20px;
    padding: 4px 30px;
  }
}

.boton2 {
  padding: 4px 30px;
  border: 2px solid #020e1b;
  color: white;
  text-decoration: none;
  font-size: 20px;
  border-radius: 5px;
  margin: 2px 5px;
  background-color: #020e1b;
}

.boton2:hover {
  text-decoration: none;
  color: white;
  background-color: #020e1be3;
  border: 2px solid #020e1be3;
}

@media (max-width: 757px) {
  .boton2 {
    font-size: 20px;
    padding: 4px 20px;
  }
}

.boton3 {
  padding: 4px 30px;
  border: 2px solid #020e1b;
  color: #020e1be3;
  text-decoration: none;
  font-size: 16px !important;
  border-radius: 5px;
  margin: 2px 5px;
  font-weight: bold;
}

.boton3:hover {
  -webkit-transition: all .2s;
  transition: all .2s;
  text-decoration: none;
  color: white;
  background: #020e1b;
  font-weight: no;
}

.boton3:focus {
  background-color: #020e1b;
  color: white;
}

@media (max-width: 757px) {
  .boton3 {
    font-size: 20px;
    padding: 4px 20px;
  }
}

.divCarga {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.562);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.divCarga .lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  z-index: 1000;
}

.divCarga .lds-dual-ring:after {
  content: " ";
  display: block;
  width: 100px;
  height: 100px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid white;
  border-color: white transparent white transparent;
  -webkit-animation: lds-dual-ring 1.2s linear infinite;
          animation: lds-dual-ring 1.2s linear infinite;
}

@-webkit-keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.divMenu {
  width: 100%;
  border: 2px solid transparent;
}

.navMenu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 12vh;
}

.navMenu .divLogo {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navMenu .divLogo p {
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  margin: 0;
  padding: 0;
}

.navMenu .divLogo p:hover {
  color: white !important;
}

.navMenu .divIcoMenu {
  width: 10%;
  height: 14vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navMenu .divIcoMenu #controlA {
  width: 60%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0px;
  border-radius: 100%;
  cursor: pointer;
}

@media (max-width: 757px) {
  .navMenu .divIcoMenu #controlA {
    width: 100% !important;
  }
}

.navMenu .divIcoMenu #controlA div {
  width: 40%;
  height: 4px;
  margin: 2px 0px;
  background-color: white !important;
  border-radius: 20px;
}

.navMenu .divIcoMenu #controlA:hover .top {
  -webkit-transition: all .2s;
  transition: all .2s;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.navMenu .divIcoMenu #controlA:hover .medium {
  -webkit-transition: all .2s;
  transition: all .2s;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.navMenu .divIcoMenu #controlA:hover .bottom {
  -webkit-transition: all .2s;
  transition: all .2s;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.navMenu .padreNav {
  position: absolute;
  top: 80px;
  right: 100px;
  width: 20%;
  height: auto;
  border-radius: 10px;
  background-color: white;
}

@media (max-width: 1226px) {
  .navMenu .padreNav {
    width: 300px !important;
    right: 0;
  }
}

.navMenu .padreNav .menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.navMenu .padreNav .menu div {
  width: 50%;
  padding: 20px 0px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navMenu .padreNav .menu div a {
  font-size: 20px;
  color: #020e1be3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navMenu .padreNav .menu div a ion-icon {
  font-size: 18x;
  padding: 0px 5px;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden !important;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: "Mukta", sans-serif;
  overflow-x: hidden !important;
}

.main {
  width: 100% !important;
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 125vh;
  background: url(../imagenes/fondo2.jpg);
  background-size: cover;
}

header .color {
  width: 100%;
  height: inherit;
  background: black;
  background: linear-gradient(20deg, rgba(0, 0, 0, 0.555) 55%, rgba(0, 0, 0, 0.507) 100%);
}

.seccionBienvenida {
  width: 100%;
}

.seccionBienvenida .divSecBienvenida {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px 0px;
  padding: 40px 0px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1226px) {
  .seccionBienvenida .divSecBienvenida {
    padding: 30px 0px;
    margin: 30px 0px;
  }
}

@media (max-width: 995px) {
  .seccionBienvenida .divSecBienvenida {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 50px 0px;
  }
}

.seccionBienvenida .divSecBienvenida div {
  width: 100%;
  padding: 10px 0px;
  text-align: center;
}

@media (max-width: 1226px) {
  .seccionBienvenida .divSecBienvenida div h1 {
    font-size: 60px !important;
  }
}

@media (max-width: 995px) {
  .seccionBienvenida .divSecBienvenida div {
    width: 80%;
  }
  .seccionBienvenida .divSecBienvenida div h1 {
    font-size: 60px !important;
  }
  .seccionBienvenida .divSecBienvenida div h2 {
    font-size: 25px !important;
  }
}

@media (max-width: 757px) {
  .seccionBienvenida .divSecBienvenida div {
    width: 100% !important;
  }
  .seccionBienvenida .divSecBienvenida div h1 {
    font-size: 55px !important;
  }
}

.seccionBienvenida .divSecBienvenida div h1 {
  font-size: 80px;
  color: white;
  font-weight: bold;
  font-family: "Mukta", sans-serif;
}

.seccionBienvenida .divSecBienvenida div h2 {
  font-size: 30px;
  color: white;
}

.seccion1 {
  position: relative;
  width: 100%;
}

.seccion1 .divSec1 {
  position: relative;
  top: -40px;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media (max-width: 1226px) {
  .seccion1 .divSec1 {
    top: -20px;
  }
}

@media (max-width: 757px) {
  .seccion1 .divSec1 {
    top: -30px;
  }
}

.seccion1 .divSec1 div {
  width: 300px;
  padding: 40px 30px;
  text-align: center;
  background-color: white;
  border-radius: 20px;
  margin: 10px auto;
  -webkit-box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.075);
          box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.075);
}

@media (max-width: 757px) {
  .seccion1 .divSec1 div {
    width: 100%;
  }
}

.seccion1 .divSec1 div ion-icon {
  font-size: 50px;
  color: #ea2027;
}

.seccion1 .divSec1 div h1 {
  color: #020e1be3;
  font-size: 20px;
  font-weight: bold;
}

.seccion1 .divSec1 div p {
  color: #020e1be3;
  font-size: 16px;
}

.seccion2 {
  width: 100%;
  height: auto;
  background: url(../imagenes/baking-cheese-cooking-crust-315755.jpg);
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: 100px 20px;
}

@media (max-width: 757px) {
  .seccion2 {
    background-size: 100%;
    background-position: center;
  }
  .seccion2 .divSec2 .tarjetaFlotante {
    width: 100% !important;
  }
}

.seccion2 .divSec2 {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 995px) {
  .seccion2 .divSec2 {
    margin: 50px 0px;
    text-align: center;
  }
}

.seccion2 .divSec2 .tarjetaFlotante {
  width: 60%;
  background: white;
  padding: 40px 40px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 12px 20px 10px rgba(0, 0, 0, 0.185);
          box-shadow: 0px 12px 20px 10px rgba(0, 0, 0, 0.185);
  border-left: 5px solid #ea2027;
}

@media (max-width: 995px) {
  .seccion2 .divSec2 .tarjetaFlotante {
    padding: 30px;
  }
}

.seccion2 .divSec2 .tarjetaFlotante div {
  padding: 10px 0px;
}

.seccion2 .divSec2 .tarjetaFlotante div h1 {
  font-size: 40px;
  color: #020e1b;
  font-weight: bold;
}

.seccion2 .divSec2 .tarjetaFlotante div p {
  font-size: 18px;
  color: #020e1be3;
}

.seccion2 .divSec2 .tarjetaFlotante div #robert {
  font-size: 25px;
  color: #020e1be3;
}

.seccion2 .divSec2 .tarjetaFlotante div #robert::before {
  content: '⇴';
}

.seccion2 .divSec2 .tarjetaFlotante div #pVer::after {
  color: rgba(0, 0, 0, 0.247);
  content: 'aliquid temporibus suscipit laboriosam iusto saepe, et atque sapiente ut officiis!';
}

.seccion2 .divSec2 .tarjetaFlotante:hover #pVer::after {
  -webkit-transition: all .2s;
  transition: all .2s;
  color: #020e1be3;
  content: 'aliquid temporibus suscipit laboriosam iusto saepe, et atque sapiente ut officiis!';
}

.seccionPizzas {
  position: relative;
  width: 100%;
}

.seccionPizzas .divP {
  margin-top: 30px;
  padding: 20px 0px;
  width: 100%;
  text-align: center;
}

.seccionPizzas .divP h1 {
  font-weight: bold;
}

.seccionPizzas .divPizzas {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0px;
  margin: 0px 0px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.seccionPizzas .divPizzas .tarjetaPizza {
  position: relative;
  width: 300px;
  padding: 20px 20px;
  border-radius: 10px;
  margin: 10px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.seccionPizzas .divPizzas .tarjetaPizza .precioFlot {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  background-color: #020e1be3;
  border-radius: 10px;
}

.seccionPizzas .divPizzas .tarjetaPizza .precioFlot p {
  margin: 0;
  padding: 10px;
  color: white;
}

.seccionPizzas .divPizzas .tarjetaPizza .oferta {
  background-color: #ea2027 !important;
}

.seccionPizzas .divPizzas .tarjetaPizza .divImg {
  width: 100%;
  height: 30vh;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.seccionPizzas .divPizzas .tarjetaPizza .divImg img {
  width: 100%;
  border-radius: 10px;
  padding: 5px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}

.seccionPizzas .divPizzas .tarjetaPizza div {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.seccionPizzas .divPizzas .tarjetaPizza div h1 {
  font-size: 20px;
  font-weight: bold;
  padding: 5px 0px;
}

.seccionPizzas .divPizzas .tarjetaPizza div p {
  padding: 5px 0px;
}

.seccionPizzas .divPizzas .tarjetaPizza:hover {
  cursor: pointer;
  -webkit-transition: 250ms opacity;
  transition: 250ms opacity;
  -webkit-transition: all .4s;
  transition: all .4s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 100;
  -webkit-box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.178);
          box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.178);
  background-color: white;
}

@media (max-width: 757px) {
  .seccionPizzas .divPizzas .tarjetaPizza {
    width: 100%;
  }
  .seccionPizzas .divPizzas .tarjetaPizza .divImg {
    width: 80%;
    height: 40vh;
  }
  .seccionPizzas .divPizzas .tarjetaPizza .divImg img {
    width: 9100;
  }
}

.seccionComent {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: rgba(133, 133, 133, 0.226);
}

@media (max-width: 995px) {
  .seccionComent {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .seccionComent div {
    width: 500px !important;
  }
}

.seccionComent div {
  width: 500px;
  padding: 20px 10px;
}

@media (max-width: 757px) {
  .seccionComent div {
    width: 100% !important;
  }
}

.seccionComent .divImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.seccionComent .divImg img {
  width: 80%;
}

.seccionComent .divText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.seccionComent .divText div {
  padding: 10px 0px;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.seccionComent .divText div ion-icon {
  font-size: 80px;
  color: #020e1b;
}

.seccionComent .divText div p {
  color: #020e1b;
  font-size: 20px;
  font-weight: bold;
}

.seccionChef {
  width: 100%;
  background-color: rgba(133, 133, 133, 0.226);
}

.seccionChef .divChef {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.seccionChef .divChef div {
  width: 500px;
  padding: 20px 0px;
}

.seccionChef .divChef div p {
  color: #020e1b;
  font-size: 20px;
  font-weight: bold;
}

.seccionChef .divChef .divImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.seccionChef .divChef .divImg img {
  width: 50%;
}

.seccionChef .divChef .divText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.seccionChef .divChef .divText div {
  width: 500px;
  padding: 20px 0px;
}

@media (max-width: 757px) {
  .seccionChef .divChef .divText div {
    width: 100% !important;
  }
}

.seccionChef .divChef .divText div ion-icon {
  font-size: 80px;
}

.seccionChef .divChef .divText div p {
  font-size: 20px;
}

.seccionOrdenar {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
}

.seccionOrdenar .padreQui {
  width: 40% !important;
  background-color: white;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.349);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.349);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
}

.seccionOrdenar .padreQui .divQuitar {
  position: relative;
  top: -50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.seccionOrdenar .padreQui .divQuitar p {
  margin: 0px 10px;
  font-size: 20px;
  padding: 10px 20px;
  text-decoration: none;
  background-color: #ea2027;
  border-radius: 40px;
  color: white;
  cursor: pointer;
}

.seccionOrdenar .padreQui .divOrdenar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0px;
}

.seccionOrdenar .padreQui .divOrdenar h1 {
  font-size: 30px;
  color: red;
}

.seccionOrdenar .padreQui .divOrdenar div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 5px 40px;
}

.seccionOrdenar .padreQui .divOrdenar div label {
  padding: 0px 10px;
  font-weight: bold;
  color: #020e1be3;
}

.seccionOrdenar .padreQui .divOrdenar div #name {
  width: 100%;
}

.seccionOrdenar .padreQui .divOrdenar div #email {
  width: 100%;
}

.seccionOrdenar #error {
  color: red;
}

.seccion__reservacion {
  width: 100%;
  background: url(../imagenes/3123.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.seccion__reservacion .intro {
  width: 100%;
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.seccion__reservacion .intro div {
  width: 50%;
  padding: 10px 20px;
}

.seccion__reservacion .intro h1 {
  margin: 0;
  font-weight: bold;
  font-size: 300%;
  color: #020e1b;
}

@media screen and (max-width: 1020px) {
  .seccion__reservacion .intro h1 {
    font-size: 200%;
  }
}

.seccion__reservacion .color {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.26);
  padding: 4em 0;
}

.seccion__reservacion .div__reservacion {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.seccion__reservacion .div__reservacion .dForm {
  width: 80%;
  padding: 2em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  border-radius: 8px;
  -ms-flex-wrap: wrap !important;
      flex-wrap: wrap !important;
}

.seccion__reservacion .div__reservacion .dForm div {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5px 0;
  flex-wrap: wrap;
}

.seccion__reservacion .div__reservacion .dForm div label {
  width: 50%;
}

.seccion__reservacion .div__reservacion .dForm div input {
  width: 300px;
  border: 1px solid transparent;
  background-color: rgba(0, 0, 0, 0.075);
  padding: 10px;
}

.seccion__reservacion .div__reservacion .dForm div select {
  width: 90%;
  border: 1px solid transparent;
  background-color: rgba(0, 0, 0, 0.075);
}

@media screen and (max-width: 1020px) {
  .seccion__reservacion .div__reservacion .dForm {
    width: 100%;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .seccion__reservacion .div__reservacion .dForm div {
    width: 100%;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .seccion__reservacion .div__reservacion .dForm div label {
    width: 100%;
  }
  .seccion__reservacion .div__reservacion .dForm div select {
    width: 100%;
  }
  .seccion__reservacion .div__reservacion .dForm div input {
    width: 100%;
  }
}

.seccion__reservacion .dbo {
  width: 100%;
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.seccion__reservacion .dbo div {
  width: auto;
  padding: 10px 20px;
  text-align: center;
  border-radius: 8px;
}

.seccion__reservacion .dbo button {
  padding: 8px 100px;
}

footer {
  width: 100%;
  overflow: hidden;
  padding: 1em 0;
}

footer .divFooter {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .divFooter div {
  width: auto;
  height: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .divFooter div p {
  color: #020e1be3;
  font-weight: bold;
  margin: 0;
}

footer .divFooter div a {
  padding: 0px 10px;
  text-decoration: none;
}

footer .divFooter div ion-icon {
  font-size: 25px;
  color: #020e1be3;
}

footer .divFooter div ion-icon:hover {
  -webkit-transition: all .2s;
  transition: all .2s;
  color: #ea2027;
}
/*# sourceMappingURL=style.css.map */