*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;

}

.header {
    width: 100%;
    height: auto;
     /* background: url(../imagenes/stuffedcrustpizza.jpg);
    background-size: cover;  */

}


.container {
    margin-left: 50px;
    margin-right: 50px;

}

.div-header {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
 
    /* outline: 1px dashed red; */
}


.sub-header {
    position: relative;
    float: left;
    width: 100%;

     /* outline: 1px dashed rgb(4, 29, 253);   */
}

.divcol {
    position: relative;
    float: left;
    width: 100%;
    background: rgb(255, 255, 255);
}


.div-logo {
    position: relative;
    float: left;
    /* background: red; */
    width: 40%;
    display: inline-block;
    /* outline: 1px solid red; */
    text-align: center;
}

.div-logo img {
    padding-top: 10px;
    width: 45%;
}


.div-menu {
    position: relative;
    float: left;
    width: 60%;
    height: auto;
      /* background: blue;   */
    text-align: center;
}

.div-menu ul {
    list-style: none;
    position: relative;
    margin-top: 20px;
    padding: 5px 10px;

    border-radius: 2px;
    
}

.div-menu li {
    /* background: red; */
    
}


.div-menu a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: bold;
    padding: 0px 10px;
    border-radius: 1px;

}

.div-menu a:hover {
    color:rgb(250, 0, 0) ;
    transition: all .1s linear;

}



.div-bienvenida {
    position: relative;
    float: left;
    width: 100%;
    height: 85vh;
    background: rgba(0, 0, 0, 0.137); 
    /* outline: 1px dashed rgb(255, 255, 255);  */
}

.sub-bienvenida {
    position: relative;
    float: left;
    width: 100%;
    /* outline:  1px dashed red; */
    margin-top: 50px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.685);
    box-shadow: 2px 10px 10px rgba(2, 2, 2, 0.158);

}

.div-desc {
    position: relative;
    float: left;
    width: 50%;
    display: inline-block;
    /* outline:  1px dashed rgb(0, 0, 0); */
    text-align: center;
    margin-top: 70px;

    border-radius: 20px;
     
}


.div-desc h2 {
    color: rgb(255, 0, 0);
    font-size: 45px;
    padding-top: 10px;

}

.div-desc p {
    font-size: 22px;
    color: rgb(7, 7, 7);
    padding: 20px 30px;
}


.div-img-desc {
    position: relative;
    float: left;
    display: inline-block;
    width: 50%;
    text-align: center;
     /* outline:  1px dashed rgb(0, 0, 0);  */
}


.div-img-desc img {
    padding-top: 10px;
    max-width: 60%;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(24, 23, 23, 0.356);
}



.control-p {
    width: 100%;
    height: auto;
    text-align: center;
    /* background: rgba(0, 0, 0, 0.726); */
    border-radius: 0px;
}

.control-p p {
    color: rgb(0, 0, 0);
    font-size: 22px;
    padding: 20px 40px;

}

.control-p strong {
    color: rgb(255, 0, 0);
}

.control-btn-pedir {
    /* background: red; */
    position: relative;
    float: left;
    width: 100%;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 30px;
}

.control-btn-pedir a{
    padding: 2.5% 5%;
    /* background: blue; */
    background: rgba(0, 0, 0, 0.993);
    color: rgb(250, 250, 250);
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
    /* box-shadow: 1px 4px 4px  rgb(10, 10, 10); */

}

.control-btn-pedir a:hover {
    transition: all .1s linear;
    background: rgba(255, 0, 0, 0.897);
    color: white;
}


.div-seccion-1 {
    position: relative;
    float: left;
    width: 100%;
    background: rgba(0, 0, 0, 0.137);
}

.sub-seccion-1 {
    position: relative;
    float: left;
    width: 100%;
    /* outline:  1px dashed rgb(0, 0, 0);   */
    margin-top: 40px;

    border-radius: 20px;
}


.promo-1 {
    width: 25%;
    height: 350px;
    background: rgba(255, 255, 255, 0.685);
    box-shadow: 2px 10px 10px rgba(2, 2, 2, 0.158);
    border-radius: 10px;
    display: inline-block;
    margin: 0 4%;
    flex-wrap: wrap;
}


.promo-desc {
    /* background: rgba(255, 0, 0, 0.486); */
}

.promo-desc h3 {
    padding-left: 10px;
    padding-right: 10px;
}

.promo-desc p {
    padding-left: 10px;
    padding-right: 10px;
}


.div-prom-img {
    width: 100%;
    height: 200px;
    text-align: center;
    padding-top: 10px;
}

.div-prom-img img{
    max-width: 100%;
    border-radius: 10px;
}
